<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categories</key>
		<dict>
			<key>Events</key>
			<integer>0</integer>
			<key>Births</key>
			<integer>159</integer>
			<key>Deaths</key>
			<integer>64</integer>
		</dict>
		<key>page</key>
		<string>March_1</string>
	</dict>
	<dict>
		<key>page</key>
		<string>December_13</string>
		<key>categories</key>
		<dict>
			<key>Events</key>
			<integer>34</integer>
			<key>Deaths</key>
			<integer>75</integer>
			<key>Births</key>
			<integer>145</integer>
		</dict>
	</dict>
</array>
</plist>
